@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  margin: 0 auto;
  font-family: 'Righteous', cursive;
  color: #01bf71;
  line-height: 1.7;
  font-size: 19px;
  background-color: #000000;
  /* background: url("C:\Users\LENOVO\React\cosmos-nasa\src\images\nasa_bg.jpg"); */
  /* background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23424242' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}


/* APOD */
.apod {
  /* background: url("C:\Users\LENOVO\React\cosmos-nasa\src\images\nasa_bg.jpg"); */
  background: transparent;
}

.apod-header{
  margin: 0 30px;
  color: #fff;
  margin: 10px;
  text-align: center;
}

.datepicker {
  display: flex;
  justify-content: center;
}

.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.nasa-photo img {
  flex: 1;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
  border: 2px solid rgb(0, 225, 255);
  box-shadow: 2px 2px 15px #000000;
  border-radius: 5px;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .explanation {
  color: #bbb;
}

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    object-fit: contain;
    margin-right: 0;
    margin-bottom: 30px;
  }
}


/* MARS ROVER */
.marsrover {
 /* background: url("C:\Users\LENOVO\React\cosmos-nasa\src\images\nasa_bg.jpg"); */
  background: transparent;
  color: white;
}

.marsrover h1 {
  font-size: 3.5rem;
  margin: 0 auto;
}
.main {
  display: flex;
  margin: 0 1rem;
  height: 50vh;
  text-align: center;
  justify-content: center;
}

.rover_select {
  flex: 1.5;
  border: 1px solid rgb(0, 225, 255);
  margin: 0.5rem;
  border-radius: 1rem;
  min-height: 40vh;
  font-size: 1.5rem;
}
.rover_select h5{
  font-size: 2.5rem;
  margin: 5px;
}

.rover_info {
  flex: 2;
  border: 1px solid rgb(0, 225, 255);
  margin: 0.5rem;
  border-radius: 1rem;
  min-height: 40vh;
  font-size: 1.7rem;
}
.rover_info h5{
  font-size: 2.5rem;
  margin: 5px;
}

.sol_select {
  flex: 1.5;
  border: 1px solid rgb(0, 225, 255);
  margin: 0.5rem;
  border-radius: 1rem;
  min-height: 40vh;
  font-size: 1.5rem;
}
.sol_select h5 {
  font-size: 2.5rem;
  margin: 5px;
}

.sol_select div {
  /* margin-top: 1rem; */
  color: rgb(0, 225, 255);
  display: flex;
  justify-content: center;
}

.sol_select button {
  margin-top: 1rem;
}

.img-grid{
  margin: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}


/* HOME PAGE */
video {
  object-fit: cover;
  width: 100%;
  height:100%;
  position: fixed;
  z-index: -1;
}


/* Navbar */
.navbar {
  background: #000000;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0px;
  z-index: 999;
  font-size: 1.5rem;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
}

.nav-item {
  height: 60px;
}

.nav-links {
  color: #01bf71;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  height: 50%;
}

.nav-links:hover {
  border-bottom: 4px solid #01bf71;
  transition: all 0.2s ease-out;
}


/* Natural Events */
.header {
  padding: 0;
  margin: 0;
  font-size: initial;
  padding: 10px;
  background-color: firebrick;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.map {
  width: 100vw;
  height: 88.5vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h1 {
  margin-top: -100px;
}

.location-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.Iss-info {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.Iss-info ul {
  list-style-type: none;
  padding: 0;
}

.Iss-info li {
  padding: 5px 0;
}

.calender-cont {
  background: transparent;
}

/* Sign In */
.btn {
  padding: 8px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  cursor: pointer;
  background-color: #fff;
  color: #242424;
  border: 1px solid #fff;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid #fff;
  height: 50px;
  font-size: 1rem;
  transition: all 0.3s ease-out;
}

.btn--outline:hover {
  background: #fff;
  color: #000000;
  transition: all 0.3s ease-out;
}